aiohttp==3.6.2
    # via -r requirements.in
async-timeout==3.0.1
    # via aiohttp
attrs==19.3.0
    # via aiohttp
chardet==3.0.4
    # via aiohttp
idna==3.7
    # via yarl
multidict==4.7.6
    # via
    #   aiohttp
    #   yarl
yarl==1.4.2
    # via aiohttp
