aiounittest==1.4.2        # via -r requirements.in
async-generator==1.10     # via -r requirements.in
janus==1.0.0              # via -r requirements.in
typing-extensions==4.11.0  # via janus
wrapt==1.16.0             # via aiounittest
