aiounittest==1.4.3        # via -r requirements.in
async-generator==1.10     # via -r requirements.in
janus==1.0.0              # via -r requirements.in
typing-extensions==4.12.2  # via janus
wrapt==1.17.2             # via aiounittest
